﻿@page "/GameNight"

<section class="GameNight">
    <h1>Game Night!</h1>

    <h3>How many players?</h3>
    <EditForm Model="@Form">
        <div class="btn-group btn-group-lg">
            <InputRadioGroup Name="player-count" @bind-Value="Form.PlayerCount">
                <InputRadio Name="player-count" Value=3 id="player-count-3" class="btn-check" />
                <label class="btn btn-outline-primary" for="player-count-3">3</label>

                <InputRadio Name="player-count" Value=4 id="player-count-4" class="btn-check" />
                <label class="btn btn-outline-primary" for="player-count-4">4</label>

                <InputRadio Name="player-count" Value=5 id="player-count-5" class="btn-check" />
                <label class="btn btn-outline-primary" for="player-count-5">5</label>

                <InputRadio Name="player-count" Value=6 id="player-count-6" class="btn-check" />
                <label class="btn btn-outline-primary" for="player-count-6">6</label>

                <button type="button" class="btn btn-primary" @onclick="SelectPlayerCount(0)">Reset</button>
            </InputRadioGroup>
        </div>
    </EditForm>

    <div class="game-list">
        @foreach (var game in GamesPerPlayerCount.Lookup)
        {
            <div class="game @IsNotActive(game.Value)">
                <p>@game.Key</p>
                @* <p class="player-count">
            Number of players:
            @if (group.Key == 0)
            {
            <i class="bi bi-infinity"></i>
            }
            else
            {
            @group.Key
            }
            </p>*@
            </div>
        }
    </div>
</section>

@code {
    //IEnumerable<IGrouping<int, string>> GamesGroupedByPlayerCount = GamesPerPlayerCount
    //    .Lookup
    //    .GroupBy(kvp => kvp.Value, kvp => kvp.Key)
    //    .OrderBy(kvp => kvp.Key);

    PlayerCountForm Form = new();

    protected override void OnInitialized()
    {
    }

    Action SelectPlayerCount(int newCount) => () => Form.PlayerCount = 0;
    string IsNotActive(PlayerCountRange playerCountRange)
    {
        if (Form.PlayerCount == 0)
        {
            // No player count has been selected.
            return string.Empty;
        }

        return playerCountRange.IsInRange(Form.PlayerCount)
            ? string.Empty
            : "inactive";
    }

    class PlayerCountForm
    {
        public int PlayerCount { get; set; } = 0;
    }

}
