﻿.GameNight {
	padding: 1rem;
	min-height: 100vh;
	background-color: #ddd;
}

.game-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	gap: 0.5rem;
	margin-top: 1rem;
	font-size: 120%;
	place-items: stretch;
	place-content: center;
}

.game {
	display: grid;
	place-items: center;
	text-align: center;
	padding: 3rem;
	background-color: #444;
	color: #fff;
}

	.game.inactive {
		opacity: 0.2;
	}

	.game .player-count {
		font-size: 70%;
	}
