﻿.calendar {
	display: grid;
	grid-template-areas:
		"select-month		."
		"days-in-month	chosen-days";
	grid-template-rows: min-content 1fr;
	grid-template-columns: max-content minmax(max-content, 10rem);
	column-gap: 0.5rem;
	place-items: stretch;
	overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.calendar .chosen-days {
	grid-area: chosen-days;
}

.calendar .select-month {
	grid-area: select-month;
	display: grid;
	grid-template-columns: min-content 1fr min-content;
}

.calendar .days-in-month {
	grid-area: days-in-month;
	place-self: start end;
}

.calendar .select-month {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: baseline;
}

.calendar .month {
	text-align: center;
}

.calendar .days-in-month {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: max-content auto;
	place-items: stretch;
	gap: 1px;
	aspect-ratio: 16 / 9;
	background-color: rgba(100, 100, 100, 0.7);
	border: 1px solid #444;
}

	.calendar .days-in-month h5 {
		font-size: 80%;
		font-weight: bold;
		place-self: center;
		color: white;
		font-size: 1vmax;
	}

	.calendar .days-in-month .day {
		background-color: white;
		padding: 0.25rem;
		cursor: pointer;
		user-select: none;
	}

		.calendar .days-in-month .day.selected {
			background-color: aqua;
		}

.calendar .chosen-days {
	overflow-y: auto;
/*	max-height: calc(100vmin * (9/16));*/
}

	.calendar .chosen-days dt {
		border-top: 1px solid #ccc;
		font-size: 110%;
	}

	.calendar .chosen-days dd {
		display: grid;
		grid-template-columns: 1fr max-content;
		gap: 0.5rem;
		padding-right: 0.5rem;
	}

		.calendar .chosen-days dd:nth-child(2n+1) {
			background-color: #ddd;
		}


button.oi {
	background: none;
	padding: 0.25rem 0.5rem;
}
