﻿<div class="calendar">
    <div class="select-month">
        <button class="oi oi-chevron-left" @onclick="ChangeMonth(false)" />
        <h3 class="month">@MonthLabel</h3>
        <button class="oi oi-chevron-right" @onclick="ChangeMonth(true)" />
    </div>
    <div class="labels">
    </div>
    <div class="days-in-month">
        <h5>Sunday</h5>
        <h5>Monday</h5>
        <h5>Tuesday</h5>
        <h5>Wednesday</h5>
        <h5>Thursday</h5>
        <h5>Friday</h5>
        <h5>Saturday</h5>
        @foreach (var date in DaysOfMonth)
        {
            <div class="day @(IsSelected(date) ? "selected" : "")"
             @onclick="OnClickDate(date)">
                @date.Day
            </div>
        }
    </div>
    <dl class="chosen-days">
        @foreach (var month in SelectedDatesGroupedByMonth)
        {
            <dt>@month.Key</dt>
            @foreach (var date in month)
            {
                <dd>
                    <div>@date.ToString("dddd")</div>
                    <div>@date.Day</div>

                </dd>
            }
        }
    </dl>
    @*foreach (var date in SelectedDates)
    {
    <DateChosen OnDelete="OnClickDate(date)" Date="@date" />
    }*@
</div>


@code {
    [Parameter] public EventCallback<DateTime> OnDateSelected { get; set; }
    [Parameter] public EventCallback<DateTime> OnDateDeselected { get; set; }

    private List<DateTime> DaysOfMonth = new List<DateTime>(31);
    private List<DateTime> SelectedDates = new List<DateTime>();
    private int SelectedMonthNumber = 1;
    private string MonthLabel = string.Empty;
    private List<IGrouping<string, DateTime>> SelectedDatesGroupedByMonth => SelectedDates.GroupBy(d => d.ToString("MMMM", CultureInfo.InvariantCulture)).ToList();

    protected override void OnInitialized()
    {
        SelectedMonthNumber = DateTime.Today.Month;
        MonthLabel = DateTime.Today.ToString("MMMM", CultureInfo.InvariantCulture);
        DaysOfMonth = GenerateMonth(SelectedMonthNumber);
    }

    Action OnClickDate(DateTime date) => () =>
    {
        if (SelectedDates.Remove(date))
        {
            OnDateDeselected.InvokeAsync(date);
        }
        else
        {
            SelectedDates.Add(date);
            OnDateSelected.InvokeAsync(date);
        }
        SelectedDates.Sort();
    };


    bool IsSelected(DateTime date) => SelectedDates.Contains(date);

    /// <param name="monthNumber">A number ranging from 1 to 12.</param>
    /// <returns></returns>
    List<DateTime> GenerateMonth(int monthNumber)
    {
        var today = DateTime.Today;
        var firstDayOfMonth = new DateTime(today.Year, monthNumber, 1);
        var lastDayOfMonth = new DateTime(today.Year, monthNumber, DateTime.DaysInMonth(today.Year, monthNumber));

        var month = new List<DateTime>(31);
        var dayOfWeek = (int)firstDayOfMonth.DayOfWeek;
        var date = firstDayOfMonth;
        // Collect days from last month in the same week as the 1st of this month.
        for (var i = 0; i < dayOfWeek; i++)
        {
            month.Add(date.AddDays(-(dayOfWeek - i)));
        }
        month.Add(date);
        while (date < lastDayOfMonth)
        {
            date = date.AddDays(1);
            month.Add(date);
        }

        // Collect days from next month in the same week as the last day of this month.
        dayOfWeek = (int)date.DayOfWeek;
        for (var i = 1; i < 7 - dayOfWeek; i++)
        {
            month.Add(date.AddDays(i));
        }
        return month;
    }

    Action ChangeMonth(bool isNextMonth) => () =>
    {
        SelectedMonthNumber = isNextMonth
        ? Math.Min(++SelectedMonthNumber, 12)
        : Math.Max(--SelectedMonthNumber, DateTime.Today.Date.Month);
        var firstDayOfThisMonth = new DateTime(DateTime.Today.Year, SelectedMonthNumber, 1);
        MonthLabel = firstDayOfThisMonth.ToString("MMMM", CultureInfo.InvariantCulture);
        DaysOfMonth = GenerateMonth(SelectedMonthNumber);
    };
}