﻿.date-chosen button.delete {
	display: none; /* Disabled until I figure out a better layout */
	visibility: hidden;
}

.date-chosen:hover button.delete {
	visibility: visible;
}

span {
	display: inline-block;
}

button {
	border: none;
}
