﻿<div class="date-chosen">
    <span>@Date.ToShortDateString()</span>
    <button class="ms-2 delete" @onclick="@OnClickDelete" title="Remove this date.">
        <i class="bi bi-calendar-x"></i>
    </button>
</div>
@code {
    [Parameter] public DateTime Date { get; set; } = DateTime.MinValue;
    [Parameter] public EventCallback OnDelete { get; set; }

    async void OnClickDelete() => await OnDelete.InvokeAsync();

}
