﻿<EditForm Model="@Answers" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <h3>Start a new poll</h3>
    <ValidationSummary />
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <InputText class="form-control .take-focus" id="title" aria-describedby="titleHelp" @bind-Value="Answers.Title" autocomplete="off" />
        <div id="titleHelp" class="form-text">You know, so it sticks.</div>
    </div>
    <div class="mb-3">
        <label for="form-description" class="form-label">Description</label>
        <InputTextArea class="form-control" id="form-description" @bind-Value="Answers.Description" />
    </div>
    <button type="submit" class="btn btn-primary">Next</button>

</EditForm>


@code {
    [Parameter]
    public EventCallback<NewPollFormAnswers> OnSubmit { get; set; }
    NewPollFormAnswers Answers = new();

    Action FormSubmit() => () =>
    {
        OnSubmit.InvokeAsync();
    };

    void HandleValidSubmit()
    {
        OnSubmit.InvokeAsync(Answers);
    }
}
