﻿.start-a-poll {
	max-height: 100vh;
	display: grid;
	grid-template-rows: 1fr max-content;
	overflow: auto;
	margin: 0 auto;
	max-width: 60%;
	padding: 1rem;
}

.start-a-poll .btn.btn-link {
	padding: 0;
}