﻿@inject ApiClient api
@inject NavigationManager NavManager

<div class="start-a-poll">
    @if (step == 0)
    {
        <NewPollForm OnSubmit="CollectFormAnswers" />
    }
    else if (step == 1)
    {
        <Calendar OnDateDeselected="Remove" OnDateSelected="Add" />
        <div class="mt-2">
            <button type="button" class="btn btn-secondary" @onclick="GoToPreviousStep">Previous</button>
            <button type="button" class="btn btn-primary" @onclick="SubmitPoll">Next</button>
        </div>
    }
    else if (step == 2)
    {
        <p>Poll created!</p>
        <p>
            <a href="Calendar/@CreatedPollId">View your poll</a>
        </p>
        <p>
            <button class="btn btn-link" @onclick="ResetWizard">Home</button>
        </p>
    }
</div>

@code {
    private int step = 0;
    private List<DateTime> ChosenDates { get; set; } = new();
    private NewPollFormAnswers Answers { get; set; } = new();
    private string CreatedPollId = string.Empty;

    void Add(DateTime date) => ChosenDates.Add(date);
    void Remove(DateTime date) => ChosenDates.Remove(date);
    void CollectFormAnswers(NewPollFormAnswers answers)
    {
        Answers = answers;
        step++;
    }
    void ResetWizard(){
        step = 0;
        Answers = new();
        ChosenDates = new();
        CreatedPollId = string.Empty;
    }
    void GoToPreviousStep()
    {
        step = Math.Max(0, step - 1);
    }

    async void SubmitPoll()
    {
        var poll = await api.CreatePollAsync(Answers, ChosenDates);
        if (poll != null)
        {
            CreatedPollId = poll.Id;
            step++;
            StateHasChanged(); // TODO: Figure out why I need to call this...
        }
        else
        {
            NavManager.NavigateTo("/Error");
        }
    }
}