﻿.timeofday-picker {
	display: grid;
	grid-template-areas:
		"all-day	all-day		all-day"
		"morning	midday		evening";
	gap: 0.1rem 0.1rem;
}

.all-day {
	grid-area: all-day;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	aspect-ratio: 9 / 1 !important;
}

.morning {
	grid-area: morning;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.midday {
	grid-area: midday;
}

.evening {
	grid-area: evening;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.all-day, .morning, .midday, .evening {
	aspect-ratio: 2 / 1;
	min-width: 2rem;
	border: 1px solid #ccc;
}

input[type="checkbox"] {
	display: none;
}

	input[type="checkbox"]:checked + label {
		background-color: #00B300;
	}

	input[type="checkbox"]:not(:disabled) + label {
		cursor: pointer;
	}
