<div class="timeofday-picker">

    <input id="@HashCode-all-day" type="checkbox" checked="@(timeOfDay.IsAllDay())" @onchange="e => OnChange(TimeOfDay.AllDay, e)" disabled="@IsReadOnly" />
    <label for="@HashCode-all-day" class="all-day" />

    <input id="@HashCode-morning" type="checkbox" checked="@(timeOfDay.IsMorning())" @onchange="e => OnChange(TimeOfDay.Morning, e)" disabled="@IsReadOnly" />
    <label for="@HashCode-morning" class="morning" />

    <input id="@HashCode-midday" type="checkbox" checked="@(timeOfDay.IsMidDay())" @onchange="e => OnChange(TimeOfDay.MidDay, e)" disabled="@IsReadOnly" />
    <label for="@HashCode-midday" class="midday" />

    <input id="@HashCode-evening" type="checkbox" checked="@(timeOfDay.IsEvening())" @onchange="e => OnChange(TimeOfDay.Evening, e)" disabled="@IsReadOnly" />
    <label for="@HashCode-evening" class="evening" />
</div>

@code {
    [Parameter] public TimeOfDay WhichTimeOfDay { get; set; }
    [Parameter] public EventCallback<TimeOfDay> OnChoice { get; set; }
    [Parameter] public bool IsReadOnly { get; set; }

    TimeOfDay timeOfDay;
    int HashCode => this.GetHashCode();

    protected override void OnInitialized()
    {
        timeOfDay = WhichTimeOfDay;
    }

    void OnChange(TimeOfDay timeOfDay, ChangeEventArgs checkBoxArgs)
    {
        var isChecked = checkBoxArgs != null && (bool)checkBoxArgs.Value;
        if (isChecked)
        {
            // Add to the flag.
            this.timeOfDay |= timeOfDay;
        }
        else
        {
            // Remove from the flag.
            this.timeOfDay &= ~timeOfDay;
        }
        OnChoice.InvokeAsync(this.timeOfDay);
    }
}