﻿@inject ApiClient api
@inject NavigationManager NavManager

<section class="view-poll-details">

    @if (isLoading)
    {
        <p>Loading...</p>
    }
    else if (poll == null)
    {
        <p>Poll doesn't exist!</p>
    }
    else
    {
        <h1 class="display-4">@poll.Title</h1>
        <p><em>@poll.Description</em></p>
        <EditForm Model="@Answers" class="availability-form" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />

            <table>
                <thead>
                    <tr>
                        <td>
                            <div class="time-of-day-graphic">
                                <div class="all-day">All Day</div>
                                <div class="morning">Morning</div>
                                <div class="midday">Mid Day</div>
                                <div class="evening">Evening</div>
                            </div>
                        </td>
                        @foreach (var date in poll.ChosenDates)
                        {
                            <td class="text-center bg-light">
                                <div class="fs-6">@Month(date)</div>
                                <div class="fs-5 fw-bolder">@Day(date)</div>
                                <div class="fs-6">@DayOfWeek(date)</div>
                            </td>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vote in poll.Votes)
                    {
                        <tr>
                            <td class="text-end">@vote.VoterName</td>
                            @foreach (var date in poll.ChosenDates)
                            {
                                <td>
                                    <TimeOfDayPicker IsReadOnly="true" WhichTimeOfDay="vote.DatesWithTime.TryGetValue(date, out var tod) ? tod : TimeOfDay.None" />
                                </td>
                            }
                        </tr>
                    }
                    <tr>
                        <td class="ps-0">
                            <InputText class="form-control" @bind-Value="Answers.Name" placeholder="Your name" />
                        </td>
                        @foreach (var date in poll.ChosenDates)
                        {
                            <td>
                                <label class="d-block">
                                    <TimeOfDayPicker OnChoice="ChooseTimeOfDay(date)" />
                                </label>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary d-block mb-3">Submit</button>
            <div>
                <a href="@NavManager.Uri">Copy this link to share this poll with others.</a>
            </div>
            <ValidationSummary />
        </EditForm>
    }
</section>


@code {
    [Parameter] public string PollId { get; set; } = string.Empty;
    private AvailabilityFormAnswers Answers = new();
    private bool isLoading;
    private Poll? poll;

    protected override async Task OnInitializedAsync()
    {
        this.isLoading = true;
        await Task.CompletedTask;
        this.poll = await api.GetPollAsync(PollId);
        this.isLoading = false;
    }

    async void Submit()
    {
        await api.VoteOnPollAsync(poll!.Id, Answers.Name, Answers.DatesAndTimes);
        this.poll = await api.GetPollAsync(PollId);
        Answers = new();
        StateHasChanged();
    }
    string Month(DateTime date) => date.ToString("MMM");
    string Day(DateTime date) => date.ToString("dd");
    string DayOfWeek(DateTime date) => date.ToString("ddd");

    Action<TimeOfDay> ChooseTimeOfDay(DateTime chosenDate) => (TimeOfDay timeOfDay) => Answers.DatesAndTimes[chosenDate] = timeOfDay;
}
