﻿.view-poll-details {
	padding: 1rem;
}

form table {
}

td, th {
	padding: 0.5rem;
	border: 2px solid white;
}

tr:nth-child(2n):not(:last-child) {
	background-color: #eee;
}

.time-of-day-graphic {
	display: grid;
	grid-template-areas:
		"all-day	all-day	all-day"
		"morning	midday	evening";
	gap: 0.5rem;
	font-size: 80%;
	min-width: 13rem;
}

	.time-of-day-graphic .all-day,
	.time-of-day-graphic .morning,
	.time-of-day-graphic .midday,
	.time-of-day-graphic .evening {
		aspect-ratio: 2 / 1;
		min-width: 2rem;
		border: 1px solid #ccc;
		display: grid;
		place-content: center;
	}

	.time-of-day-graphic .all-day {
		grid-area: all-day;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		aspect-ratio: 9 / 1 !important;
	}

	.time-of-day-graphic .morning {
		grid-area: morning;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.time-of-day-graphic .midday {
		grid-area: midday;
	}

	.time-of-day-graphic .evening {
		grid-area: evening;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
