﻿@page "/eric"

<h3>Eric</h3>

<p>Here&apos;s a sandbox.</p>
<p>Feel free to change anything in the entire app, but I thought this page would help you have a place to start.</p>
<p>Just navigate to localhost:port/eric</p>

@code {

}
