﻿@page "/calendar/{pollId?}"
@inject ApiClient api


<PageTitle>Say When</PageTitle>
<HeadContent>
    <meta name="og:title" content="Say When" />
    <meta name="og:description" content="Create calendar polls and vote for the days you're available." />
</HeadContent>

@if (string.IsNullOrWhiteSpace(PollId))
{
    <StartAPollWizard />
}
else
{
    <ViewPollDetails PollId="@PollId" />
}


@code {
    [Parameter] public string PollId { get; set; } = string.Empty;
}